<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>Editing pin</h1>
  </div> <!--panel heading-->

  <div class="panel-body">
<%= render 'form' %>
  </div> <!--panel body-->

<div class="panel-footer">
<%= link_to 'Show', @pin %> |
<%= link_to 'Back', pins_path %>
</div> <!--panel footer-->
</div> <!--panel-->