<h2>Contact Me</h2>
<p>Thanks for visiting my page. I hope you learned a lot about me.</p> 

<h4>For information about hiring me for freelance work:</h4>

<%= link_to "Email me", "mailto:miapalooza@gmail.com?subject=Hey Mia!", class: "btn btn-primary btn-lg" %>